.main-header {
    width: 100%;
    height: 4rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
  }
  
  main {
    margin-top: 4rem;
  }
  
  @media (min-width: 768px) {
    .main-header {
        justify-content: center;
    }
  }